Лр КЯР №12/task3.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="books">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="hauthor"/>
                            <xs:element type="xs:string" name="hname"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="book">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="author"/>
                            <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>